/* Define the base styles for the body element */
body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    background-color: #f5f5f5;
    flex-direction: column;
}

/* Ensure the html and body elements take up the full height of the viewport */
html, body {
    height: 100%;
}

/* Style for a full-width container with no padding */
.container-fluid {
    max-width: 100%;
    height: 100%;
    padding: 0;
}

/* Style for a flex container that wraps its children */
.container {
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

/* Style for the left-side section */
.left-side {
    background-color: #8B4513;
    color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for the right-side section */
.right-side {
    background-color: rgba(240, 230, 140, 0.3);
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

/* Media query for screens wider than 768px */
@media (min-width: 768px) {
    .left-side, .right-side {
        width: 50%;
    }
    .right-side {
        padding-left: 200px;
    }
}

/* Style for the logo container */
.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

/* Style for the logo image */
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Style for the title text */
.title {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Style for form groups */
.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}

/* Style for form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for text, email, and password inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for submit button */
input[type="submit"] {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
    background-color: #333;
}

/* Style for general buttons */
.btn {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

/* Style for login button */
.login-btn {
    width: 100%;
    max-width: 220px;
    align-items: flex-start;
}

/* Style for welcome text */
.welcome-text {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

/* Style for the container of the cadastro button */
.div-cadastro-btn {
    width: 100%;
    max-width: 500px;
    align-items: flex-start;
}

/* Style for the cadastro button */
.cadastro-btn {
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Style for form titles */
.form-title {
    font-size: 1.5em;
    max-width: 500px;
    text-align: center;
}