<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Metadados da página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="icon" href="/static/png-logo-white.png" type="image">

    <!-- Link para o CSS personalizado -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet"/>
    <link href="/static/formularios.css" rel="stylesheet">
</head>
<body class="bg-gray-50">
    <header class="sticky-top">
        {% include 'navbar.html' %}
    </header>
    
    <div class="container py-4">
        <h2 class="text-3xl font-bold text-center mb-4">Alterar Conta</h2>

        <div class="card-edit mx-auto" style="max-width: 600px;">
            <div class="card-body p-4">
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="{{usuario.id}}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="{{usuario.nome}}">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="{{usuario.email}}">
                    </div>

                    <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="telefone" name="telefone" placeholder="{{usuario.telefone}}" >
                    </div>

                    <div class="mb-3">
                        <label for="escola" class="form-label">Escola</label>
                        <input type="text" class="form-control" id="escola" name="escola" placeholder="{{usuario.escola}}" >
                    </div>

                    <div class="mb-3">
                        <label for="senhaAntiga" class="form-label">Senha Antiga</label>
                        <input type="password" class="form-control" id="senhaAntiga" name="senhaAntiga" placeholder="Digite a senha antiga"></input>
                    </div>

                    <div class="mb-3">
                        <label for="novaSenha" class="form-label">Nova Senha</label>
                        <input type="password" class="form-control" id="novaSenha" name="novaSenha" placeholder="Digite a nova senha"></input>
                    </div>

                    <div class="mb-3">
                        <label for="confirmaSenha" class="form-label">Confirme a Nova Senha</label>
                        <input type="password" class="form-control" id="confirmaSenha" name="confirmaSenha" placeholder="Confirme a nova senha"></input>
                    </div>

                    <div class="d-flex justify-content-center gap-2">
                        <button type="submit" class="btn-save">Salvar</button>
                        <button type="button" class="btn-cancel" onclick="history.back()">Cancelar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <!-- Scripts do jQuery e Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
</body>
</html>