<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet"/>
    <link href="/static/menu.css" rel="stylesheet"/>
</head>
<body class="bg-gray-50">
    <!-- Header Section -->
    <header class="sticky-top">
        {% include 'navbar.html' %}
    </header>

    <!-- Main Content Section -->
    <div class="container mx-auto px-4 py-8">
        <h2 class="text-3xl font-bold text-center mb-4">MENU</h2>
        <p class="text-center text-gray-600 italic max-w-2xl mx-auto mb-8">
            "Na BigustaCakes, cada alfajor carrega o carinho e a dedicação de quem ama adoçar momentos, junto a uma seleção de doces que transformam qualquer dia em algo especial."
        </p>
        
        <!-- Search and Filter Form -->
        <div class="search-container">
            <div class="flex">
                <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100">
                    Filtrar 
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                    <ul class="py-2 text-sm text-gray-700 text-center" aria-labelledby="dropdown-button" style="padding: 0; margin: 0;">
                        <li><button type="button" data-sort="asc" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 text-left">Mais barato</button></li>
                        <li><button type="button" data-sort="desc" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 text-left">Mais caro</button></li>
                    </ul>
                </div>
                <div class="relative w-full">
                    <input type="search" id="search-input" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Buscar produto pelo nome" />
                    <button type="submit" id="search-button" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white rounded-e-lg border hover:opacity-90 focus:ring-4 focus:outline-none" style="background-color: var(--primary-color); border-color: var(--primary-color);">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        <span class="sr-only">Buscar</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Product List Section -->
        <div id="products-container">
            {% for produto in produtos %}
                {% if produto.quantidade > 1%}
                <div class="product-card" data-price="{{ produto.preco}}">
                    <div class="product-content">
                        <div class="product-image-container">
                            <img src="{{ produto.imagem }}" class="product-image" alt="foto produto">
                        </div>
                        <div class="product-info">
                            <h5 class="text-xl font-semibold mb-2">{{ produto.nome }}</h5>
                            <p class="text-gray-600 mb-1">VALOR: {{ produto.preco }}</p>
                        </div>
                        <div class="product-actions">
                            {% if user.role == 'admin' %}
                                <a href="/editar_produto/{{produto.id}}" class="btn-edit">Editar</a>
                                <a href="/excluir_produto/{{produto.id}}" class="btn-delete" onclick="return confirm('Tem certeza que deseja excluir este produto?')">Excluir</a>
                            {% endif %}
                            <button class="btn-commit">Requisitar</button>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownButton = document.getElementById('dropdown-button');
            const dropdownItems = document.querySelectorAll('#dropdown button');
            const productsContainer = document.getElementById('products-container');
            const searchInput = document.getElementById('search-input');
            const searchButton = document.getElementById('search-button');

            // Função para ordenar produtos
            function sortProducts(order) {
                const products = Array.from(document.querySelectorAll('.product-card'));
                products.sort((a, b) => {
                    const priceA = parseFloat(a.dataset.price);
                    const priceB = parseFloat(b.dataset.price);
                    return order === 'asc' ? priceA - priceB : priceB - priceA;
                });

                // Limpa o container
                productsContainer.innerHTML = '';
                // Adiciona os produtos ordenados
                products.forEach(product => productsContainer.appendChild(product));
            }

            // Função para filtrar produtos
            function filterProducts(searchTerm) {
                const products = document.querySelectorAll('.product-card');
                products.forEach(product => {
                    const productName = product.querySelector('h5').textContent.toLowerCase();
                    if (productName.includes(searchTerm.toLowerCase())) {
                        product.classList.remove('hidden-element');
                    } else {
                        product.classList.add('hidden-element');
                    }
                });
            }

            // Event listeners para ordenação
            dropdownItems.forEach(item => {
                item.addEventListener('click', function() {
                    const sortOrder = this.dataset.sort;
                    dropdownButton.textContent = this.textContent;
                    sortProducts(sortOrder);
                });
            });

            // Event listener para busca
            searchButton.addEventListener('click', function(e) {
                e.preventDefault();
                filterProducts(searchInput.value);
            });

            searchInput.addEventListener('keyup', function(e) {
                if (e.key === 'Enter') {
                    filterProducts(this.value);
                }
            });
        });

    </script>
</body>
</html>